body
{
    //border:3px solid #6D6E6A;
    padding-left: 1%;
    padding-top: 2%;
	background-color:#282923;
	font-family: Ubuntu, Helvetica;
}

h1
{
	font-family: Ubuntu, Helvetica;
	color:#D68800;
	background-image: linear-gradient(to right, #42433eFF 10%, #00000000 75%);
	border-radius: 0.2em;
	width: 70%;
	padding: 0.2em;

}

.grid-container h1
{
    grid-template-columns: 1 / 6;
}

p
{
	color:#EFEFEF;
	max-width: 700px;
	min-width: 100px;
}
ul
{

}

nav
{
	display: block;
	shape-outside: border-box;
}

#map
{
	width: 400px;
	height: 400px;
}

.topnav
{
	background-color: #6D6E6A;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.topnav a
{
    color: #F3F3F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    display: inline-block;
}

.topnav a:hover
{
    background-color: #DDD;
    color: black;
}

.topnav a.active
{
    background-color: #D68800;
    color: white;
}

.projects li a
{
	color: #F3F3F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    display: inline-block;
}

.projects li a:hover
{
	background-color: #AAA;
}

.header-container
{
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    background-color: #282923;
    padding: 0px;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color:#282923;
    padding: 0;
    width: 100%;
}

.item-header
{
    color: #F3F3F3;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    grid-area: header;
}

.header
{
    grid-column: 1 / 6;
    text-align: center;
    list-style: none;
    padding: 0px 0px 0px 0px;
    float: right;
    width: 100%;
}
.header a
{
    background-color: #555555;
    color: #F3F3F3;
    text-align: center;
    padding: 0.2em 0.3em;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    display: inline-block;
}

.header a.active
{
    background-color: #D68800;
    color: white;
}

.item-header ul
{
    flex-direction: column;
}

.item-header li
{
    color: #F3F3F3;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 17px;
    grid-area: header;
}

.item-header a
{
    color: #F3F3F3;
    background-color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.item-main  { grid-area: main; }
.item-footer { grid-area: footer; }

.grid-header
{
    display: grid;
    grid-template-areas: '. . . . .';
    grid-gap: 10px;
    background-color: #282923;
}
